{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}


{% block body %}

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque consequuntur minus quos. Ad architecto assumenda, consequuntur, deserunt enim ipsum iure nemo odit omnis placeat quidem ratione rem saepe tempore unde vel vitae voluptate. Animi, delectus eius esse laboriosam magnam molestias nobis officia, quaerat, quidem ratione soluta totam velit voluptates.</p>

{% endblock %}