{% extends 'base.html.twig' %}

{% block title %}Wish Détail{% endblock %}


{% block body %}

    <h2>Détail d'un Wish, titre de l'idée ici !</h2>

    <p>{{ wish.title }}</p>
    <p>Created by {{ wish.author }} on {{ wish.dateCreated|date('d/m/Y') }}</p>
    <p>{{ wish.description }}</p>

{% endblock %}